langchain
langchain-core
langchain-community
pypdf
pypdf2
pymupdf
sentence-transformers
faiss-cpu
chromadb
pytesseract
langchain-groq
python-dotenv
streamlit
docx2txt
pillow
unstructured
fastapi
requests
python-multipart 
fpdf
docx
typing